/* Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #282828;
    background-alt: #39404f;
    foreground:     #ebdbb2;
    selected:       #ebdbb2;
    active:         #A3BE8C;
    urgent:         #BF616A;
}
